<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border>
		<thead>
			<tr>
			<th>Playlist Id</th>
			<th>playlist Name</th>
			<th>Playlist Songs</th>
			</tr>	
		</thead>
		<tbody>
			<tr th:each="pl:${plist}">
			<td th:text="${pl.id}"></td>
			<td th:text="${pl.name}"></td>
		<td>
			<ul>
				<li th:each="sng : ${pl.songs}">
				<span th:text="${sng.name}"></span>
				<audio controls>
					<source th:src="${sng.link}" type="audio/mpeg">
				</audio>
				</li>
			</ul>
		
		</td>
			</tr>
		</tbody>
	</table>
</body>
</html>